* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: hsl(212, 45%, 89%);
    height: 100vh;
}

.main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card {
    width: 320px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    border-radius: 16px;
    background-color: hsl(0, 0%, 100%);
    font-family: 'Outfit', sans-serif;
}

.qrCode {
    width: 288px;
    border-radius: 8px;
    display: flex;
    margin-top: 16px;
}

.title {
    width: 260px;
    display: flex;
    font-size: 22px;
    font-weight: 700;
    color: hsl(215, 44%, 22%);
    text-align: center;
    margin-top: 24px;
}

.text {
    width: 260px;
    display: flex;
    font-size: 15px;
    color: hsl(220, 15%, 55%);
    text-align: center;
    margin-top: 18px;
}

.attribution {
    font-family: monospace;
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
    text-decoration: none;
}